body {
    background-color: rgb(200, 223, 245);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.video{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button{
    margin-top: 40px;
}
.button .button1{
    width: 100px;
}
.button .button2{
    width: 100px;
}

.video .video1{
    background-color: rgb(20, 23, 26);
    
}

.s{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 23, 26);
}
.s .resulvideo{
    margin: 15px;
}
.to{
    align-self: flex-start;
}